{% extends 'base.html' %} {%block title%} Article {%endblock title%} {% block css1 %}
<style>
    .titlecss {
        font-size: 45px;
        font-weight: 700;
        padding: 10px;
        position: relative;
        right: 15px;
        color: #141414;
        font-family: "Open Sans", sans-serif;
        padding-top: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-bottom: 1px;
    }
    
    .bodycss {
        all: initial;
        font-family: "Open Sans", sans-serif;
    }
    
    .bodycss h1 {
        display: block;
        font-size: 30px;
        font-weight: 800;
        color: #141414;
        line-height: normal;
        position: relative;
        text-decoration: none;
        outline: 0;
        transition: all .4s;
        -webkit-text-size-adjust: 100%;
    }
    
    .bodycss h2 {
        display: block;
        font-size: 22px;
        font-weight: 700;
        color: #141414;
        line-height: normal;
        position: relative;
        text-decoration: none;
        outline: 0;
        transition: all .4s;
        -webkit-text-size-adjust: 100%;
    }
    
    .bodycss p {
        font-size: 16px;
        color: #141414;
        line-height: 26px;
        position: relative;
        margin: 0 0 10px;
        box-sizing: border-box;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    #datecss {
        position: relative;
        top: 20px;
    }
</style>

{% endblock css1 %} {% block body1 %}
<!--页面简介 BEGIN-->
<section class="image-header" style="background: url(/static/images/photo10.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="/article?aid=all">article</a>/</li>
                            <li>Category</li>
                        </ul>
                        <h1>article</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--页面简介 END-->

<div class="content">
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <!--NEWS SINGLE BEGIN-->
            <section class="news-single">
                <div class="item">
                    <div class="top-info">
                        <div class="titlecss">{{art.a_title}}</div>
                        <div class="date" id="datecss">{{art.release}} by {{art.u_name}}</div>
                    </div>
                    <div class="post-text">
                        <div class="bodycss">
                            {{art.a_path|safe}}
                        </div>
                    </div>
                </div>
            </section>
            <!--NEWS SINGLE END-->
            <div class="pagination-wrap">
                <ul class="pagination">
                    <li><a href="/article?aid={{art.a_id}}&pos=-1"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                    <li><a href="/article?aid={{art.a_id}}&pos=1"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock body1 %}