{% extends 'base.html' %} {% block body1 %}
<!--页面简介 BEGIN-->
<section class="image-header" style="background: url(/static/images/photo10.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info">
                    <div class="wrap">
                        <ul class="breadcrumbs">
                            <li><a href="/home">home</a>/</li>
                            <li>Category</li>
                        </ul>
                        <h1>2020-2021 Playoffs</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--页面简介 END-->


<section class="standing-cup">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Chart</h4>
            </div>
            <div class="col-md-12 overflow-scroll">
                <div class="tab-content">
                    <div class="cup-body tab-pane active" id="qualification">
                        <div class="jQBracket lr" style="width: 1870px;">
                            <div class="bracket" style="height: 780px;">
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 20.5px;">
                                            <div class="team win" style="width: 440px;" data-teamid="0">
                                                <div class="label" style="width: 400px;">Team 1</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-1">3</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="1">
                                                <div class="label" style="width: 400px;">Team 2</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-2">2</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: 76px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 20.5px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="2">
                                                <div class="label" style="width: 400px;">Team 3</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-3">3</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="3">
                                                <div class="label" style="width: 400px;">Team 4</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-4">4</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; bottom: 76px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 20.5px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="4">
                                                <div class="label" style="width: 400px;">Team 8</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-5">4</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="5">
                                                <div class="label" style="width: 400px;">Team 5</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-6">5</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: 76px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 20.5px;">
                                            <div class="team win" style="width: 440px;" data-teamid="6">
                                                <div class="label" style="width: 400px;">Team 6</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-7">1</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="7">
                                                <div class="label" style="width: 400px;">Team 7</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-8">0</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; bottom: 76px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 390px;">
                                        <div class="teamContainer" style="top: 118px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="0">
                                                <div class="label" style="width: 400px;">Team 1</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-9">4</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="3">
                                                <div class="label" style="width: 400px;">Team 4</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-10">6
                                                </div>
                                            </div>
                                            <div class="connector" style="height: 195px; width: 90px; right: -92px; top: 76px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 390px;">
                                        <div class="teamContainer" style="top: 118px;">
                                            <div class="team win" style="width: 440px;" data-teamid="5">
                                                <div class="label" style="width: 400px;">Team 5</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-11">2
                                                </div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="6">
                                                <div class="label" style="width: 400px;">Team 6</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-12">1
                                                </div>
                                            </div>
                                            <div class="connector" style="height: 195px; width: 90px; right: -92px; bottom: 76px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 780px;">
                                        <div class="teamContainer" style="position: absolute; top: 313px;">
                                            <div class="team" style="width: 440px;" data-teamid="3">
                                                <div class="label" style="width: 400px;">Team 4</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-13">--
                                                </div>
                                            </div>
                                            <div class="team" style="width: 440px;" data-teamid="5">
                                                <div class="label" style="width: 400px;">Team 5</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-14">--
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cup-body tab-pane" id="quarterfinal">
                        <div class="jQBracket lr" style="width: 1870px;">
                            <div class="bracket" style="height: 780px;">
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="0">
                                                <div class="label" style="width: 400px;">Team 4</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-1">3</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="1">
                                                <div class="label" style="width: 400px;">Team 5</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-2">5</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="2">
                                                <div class="label" style="width: 400px;">CSA</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-3">2</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="3">
                                                <div class="label" style="width: 400px;">NFTA</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-4">4</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team win" style="width: 440px;" data-teamid="4">
                                                <div class="label" style="width: 400px;">Team 2 Pandas</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-5">8</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="5">
                                                <div class="label" style="width: 400px;">Heart of Willem</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-6">3</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team win" style="width: 440px;" data-teamid="6">
                                                <div class="label" style="width: 400px;">CSA</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-7">2</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="7">
                                                <div class="label" style="width: 400px;">Inverness</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-8">1</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 390px;">
                                        <div class="teamContainer" style="top: 195px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="1">
                                                <div class="label" style="width: 400px;">Team 5</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-9">4</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="3">
                                                <div class="label" style="width: 400px;">NFTA</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-10">6
                                                </div>
                                            </div>
                                            <div class="connector" style="height: 195px; width: 90px; right: -92px; top: -1px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 390px;">
                                        <div class="teamContainer" style="top: 195px;">
                                            <div class="team win" style="width: 440px;" data-teamid="4">
                                                <div class="label" style="width: 400px;">Team 2 Pandas</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-11">7
                                                </div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="6">
                                                <div class="label" style="width: 400px;">CSA</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-12">3
                                                </div>
                                            </div>
                                            <div class="connector" style="height: 195px; width: 90px; right: -92px; top: -1px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 780px;">
                                        <div class="teamContainer" style="position: absolute; top: 390px;">
                                            <div class="team win" style="width: 440px;" data-teamid="3">
                                                <div class="label" style="width: 400px;">NFTA</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-13">2
                                                </div>
                                                <div class="bubble">1st</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="4">
                                                <div class="label" style="width: 400px;">Team 2 Pandas</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-14">1
                                                </div>
                                                <div class="bubble">2nd</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cup-body tab-pane" id="semifinal">
                        <div class="jQBracket lr" style="width: 1870px;">
                            <div class="bracket" style="height: 780px;">
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team win" style="width: 440px;" data-teamid="0">
                                                <div class="label" style="width: 400px;">Team 3</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-1">3</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="1">
                                                <div class="label" style="width: 400px;">Team 4</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-2">2</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team win" style="width: 440px;" data-teamid="2">
                                                <div class="label" style="width: 400px;">Team 1</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-3">8</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="3">
                                                <div class="label" style="width: 400px;">Team 2</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-4">1</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="4">
                                                <div class="label" style="width: 400px;">Team 6</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-5">2</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="5">
                                                <div class="label" style="width: 400px;">Team 7</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-6">3</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team win" style="width: 440px;" data-teamid="6">
                                                <div class="label" style="width: 400px;">Team 8</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-7">2</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="7">
                                                <div class="label" style="width: 400px;">Team 5</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-8">1</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 390px;">
                                        <div class="teamContainer" style="top: 195px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="0">
                                                <div class="label" style="width: 400px;">Team 3</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-9">4</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="2">
                                                <div class="label" style="width: 400px;">Team 1</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-10">6
                                                </div>
                                            </div>
                                            <div class="connector" style="height: 195px; width: 90px; right: -92px; top: -1px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 390px;">
                                        <div class="teamContainer" style="top: 195px;">
                                            <div class="team win" style="width: 440px;" data-teamid="5">
                                                <div class="label" style="width: 400px;">Team 7</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-11">3
                                                </div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="6">
                                                <div class="label" style="width: 400px;">Team 8</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-12">2
                                                </div>
                                            </div>
                                            <div class="connector" style="height: 195px; width: 90px; right: -92px; top: -1px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 780px;">
                                        <div class="teamContainer" style="position: absolute; top: 390px;">
                                            <div class="team" style="width: 440px;" data-teamid="2">
                                                <div class="label" style="width: 400px;">Team 1</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-13">--
                                                </div>
                                            </div>
                                            <div class="team" style="width: 440px;" data-teamid="5">
                                                <div class="label" style="width: 400px;">Team 7</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-14">--
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cup-body tab-pane" id="final">
                        <div class="jQBracket lr" style="width: 1250px;">
                            <div class="bracket" style="height: 390px;">
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team lose" style="width: 440px;" data-teamid="0">
                                                <div class="label" style="width: 400px;">Team 1</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-1">4</div>
                                            </div>
                                            <div class="team win" style="width: 440px;" data-teamid="1">
                                                <div class="label" style="width: 400px;">Team 2</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-2">6</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-bottom: none;">
                                                <div class="connector" style="width: 90px; right: -90px; bottom: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match" style="height: 195px;">
                                        <div class="teamContainer" style="top: 97.5px;">
                                            <div class="team win" style="width: 440px;" data-teamid="2">
                                                <div class="label" style="width: 400px;">Team 6</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-3">2</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="3">
                                                <div class="label" style="width: 400px;">Team 7</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-4">1</div>
                                            </div>
                                            <div class="connector" style="height: 97.5px; width: 90px; right: -92px; top: -1px; border-top: none;">
                                                <div class="connector" style="width: 90px; right: -90px; top: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="round" style="width: 440px; margin-right: 180px">
                                    <div class="match" style="height: 390px;">
                                        <div class="teamContainer" style="position: absolute; top: 195px;">
                                            <div class="team win" style="width: 440px;" data-teamid="1">
                                                <div class="label" style="width: 400px;">Team 2</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-5">2</div>
                                                <div class="bubble">1st</div>
                                            </div>
                                            <div class="team lose" style="width: 440px;" data-teamid="2">
                                                <div class="label" style="width: 400px;">Team 6</div>
                                                <div class="score" style="width: 40px;" data-resultid="result-6">1</div>
                                                <div class="bubble">2nd</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body1 %}