{% extends 'base.html' %} {%block title%} Welcome {%endblock title%} {% block css1 %}
<style>
    .error-wrap.offline {
        /* background: url(/static/images/soccer/offline-bg.jpg) 50% 50% no-repeat; */
        background: url(/static/images/kobe2.jpg) 50% 50% no-repeat;
    }
    
    .bottoncss {
        position: relative;
        top: 150px;
    }
    
    .iconcss {
        width: 80px;
        height: 80px;
        position: relative;
        top: 70px;
        left: 5px;
    }
    
    #css2 {
        color: #F8F8FF;
    }
    
    body {
        background-color: #000000;
    }
</style>
{% endblock css1 %} {% block head %} {% endblock head %} {% block body1 %}
<div class="error-wrap offline">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/" class="error-logo"><img src="/static/images/logo_nba.svg" alt="logo" class="iconcss"></a>
            </div>
        </div>
    </div>
    <div class="offline-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><span class="small-text" id="css2">time for</span></li>
                        <li><span class="big-text" id="css2">2020-2021</span></li>
                        <li><span class="big-text" id="css2">playoffs</span></li>
                        <li>
                            <span>
                                <div class="main-slider-caption">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="booking">
                                                    <a href="/home/" class="bottoncss">
                                                        Enter
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body1 %} {% block extra %} {% endblock extra %}